registry=https://registry.npmjs.org/

# Reduce risk of corrupted cached tarballs in CI
prefer-online=true
cache-min=0
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
